.navigation {
  display: flex;
  gap: 16px;
}

.link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 4px; 
  outline-offset: 4px;
  border-radius: 4px;
  height: 18px;

  &:hover, 
  &:active {
    color: #780096;
  }

  &:focus-visible {
    color: #780096;
    // outline-color: #780096;
    outline-color: #C0F;
  }

  @media(min-width: 580px) {
    flex-direction: row;
  }
}

.text {
  position: fixed;
  transform: scale(0);

  
  @media(min-width: 580px) {
    position: unset;
    transform: scale(1);
  }
}

.svg {
  min-width: 0;
  width: 16px;
  height: 16px;
}
