.phone {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
  outline-offset: 4px;
  outline: 1px solid transparent;
  border-radius: 4px;

  &:hover, 
  &:active {
    color: #780096;
  }

  &:focus-visible {
    color: #780096;
    outline-color: #C0F;
  }
}

.list {
  display: flex;
  gap: 8px;
}

.link {
  outline-offset: 4px;
  outline: 1px solid red;
  border-radius: 4px;

    &:hover, 
    &:active {
      color: #780096;
    }

    &:focus-visible {
      color: #780096;
      outline-color: #C0F;
    }
}
